/* This stylesheet is used to style the admin option form of the plugin. */

.regular-text{
    width: 80%;
}

.wp-admin select[multiple]{
    width: 25%;
height: 100px;
}

.light-txt{
    color:#B4B4B4;
}